 ## JSON DATA WRANGLING FIRST ASSIGNMENT 
JSON exercise
Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,

Q1:- Find the 10 countries with most projects
Q2:- Find the top 10 major project themes (using column 'mjtheme_namecode')
Q3:-In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [70]:
# Importing and Reading Json files in dataFrame format
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize
world_bank_json_df = pd.read_json('C:\\Users\\sucha\\Downloads\\data_wrangling_json\\data_wrangling_json\\data\\world_bank_projects.json')

In [15]:
world_bank_json_df.columns   ## Checking the names of columns/variables present in dataset

Index(['_id', 'approvalfy', 'board_approval_month', 'boardapprovaldate',
       'borrower', 'closingdate', 'country_namecode', 'countrycode',
       'countryname', 'countryshortname', 'docty', 'envassesmentcategorycode',
       'grantamt', 'ibrdcommamt', 'id', 'idacommamt', 'impagency',
       'lendinginstr', 'lendinginstrtype', 'lendprojectcost',
       'majorsector_percent', 'mjsector_namecode', 'mjtheme',
       'mjtheme_namecode', 'mjthemecode', 'prodline', 'prodlinetext',
       'productlinetype', 'project_abstract', 'project_name', 'projectdocs',
       'projectfinancialtype', 'projectstatusdisplay', 'regionname', 'sector',
       'sector1', 'sector2', 'sector3', 'sector4', 'sector_namecode',
       'sectorcode', 'source', 'status', 'supplementprojectflg', 'theme1',
       'theme_namecode', 'themecode', 'totalamt', 'totalcommamt', 'url'],
      dtype='object')

Q1: - Find the 10 countries with most projects

In [63]:
# using value_counts function based on :- Series.value_counts(normalize=False, sort=True, ascending=False, bins=None, dropna=True)
world_bank_json_df['countryname'].value_counts().head(10)

People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
People's Republic of Bangladesh    12
Nepal                              12
Kingdom of Morocco                 12
Republic of Mozambique             11
Africa                             11
Name: countryname, dtype: int64

Q2:- Find the top 10 major project themes (using column 'mjtheme_namecode')

In [66]:
json_file = json.load(open('C:\\Users\\sucha\\Downloads\\data_wrangling_json\\data_wrangling_json\\data\\world_bank_projects.json'))
df2 = json_normalize(json_file,'mjtheme_namecode',['id'])        # Normalize theme column to flatten the list of dicts
df2['name'].value_counts().head(11)

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Economic management                              33
Name: name, dtype: int64

Q3 :- In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [74]:
t = df2.sort_values('code')                                         # sorted the dataframe 
t['name'] = t.name.replace('', method='pad')                      # using method pad to fill NANs for missing names
t = t.groupby('name', as_index=False)['name'].agg({'total_number' : np.size})  # used groupby and aggregate on total count
t = t.rename(columns={'name': 'project_theme'})                              # changed column names 
t.sort_values(by='total_number', ascending=False).head(10)              # sorted in descending order and print out 10 rows

                                   project_theme  total_number
1   Environment and natural resources management           250
6                              Rural development           216
3                              Human development           210
4                       Public sector governance           199
8          Social protection and risk management           168
2       Financial and private sector development           146
7                    Social dev/gender/inclusion           130
9                          Trade and integration            77
10                             Urban development            50
0                            Economic management            38